body {
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-size: 200px 20000px;
    background-color: #cccccc;
}
.Paddle {
    width: 225px;
    margin: 0px;
    float: left;
}
.row {
    width: 200px;
    height: 80px;
    /*padding-top: 5px;*/
}
.row_1 {
    width: 200px;
    height: 40px;
    /*padding-top: 5px;*/
}
.line1 {
    width: 80px;
    height: 80px;
    /*border: 2px black solid;*/
    /*margin-right: 5px;*/
    float: left;
}
.line2 {
    width: 80px;
    height: 80px;
    /*border: 2px black solid;*/
    /*margin-right: 5px;*/
    float: left;
}
.line1_1 {
    width: 80px;
    height: 40px;
    /*border: 2px black solid;*/
    /*margin-right: 5px;*/
    float: left;
}
.line2_1 {
    width: 80px;
    height: 40px;
    /*border: 2px black solid;*/
    /*margin-right: 5px;*/
    float: left;
}
#pencil {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/pencil.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#eraser {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/eraser.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#line {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/line.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#text {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/text.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#circle {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/circle.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#rectangle {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/rectangle.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#triangle {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/triangle.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#undo {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/undo.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#redo {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/redo.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#reset {
    width: 75px;
    height: 75px;
    background-color: transparent;
    background-image: url("Buttons/reset.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}
#download {
    width: 200px;
    height: 60px;
    background-color: transparent;
    background-image: url("Buttons/download.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
#fill {
    width: 75px;
    height: 40px;
    background-color: transparent;
    background-image: url("Buttons/fill.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}
#stroke {
    width: 75px;
    height: 40px;
    background-color: transparent;
    background-image: url("Buttons/stroke.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}
.Option {
    width: 250px;
}